<template name="login">
	<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="roomCreatorLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-background" style="background-image:url(/concert-holders/2.jpeg)"></div>
				<div class="modal-body">
					<a class="close-this" data-dismiss="modal">&times;</a>
					<div class="logo">
						<img alt="Songroll" title="Songroll" src="/logo_iso.png">
					</div>
					<h2>Music is better together.</h2>
					<p class="lead">Watch, listen and discover videos and music in real-time with awesome people around the world.</p>
					<button id="login" class="btn-sky inverse">
						<span>Login</span>
					</button>
					<button id="register" class="btn-sky inverse">
						<span>Register</span>
					</button>
					<div class="login" hidden="true">
						<form class="signon">
							<p>Email: <input type="email" name="email"></p>
	        				<p>Password: <input type="password" name="password"></p>
	        				<p><input type="submit" value="signon"></p>
						</form>
					</div>
					<div class="register" hidden="true">
						<form class="register">
							<p>Username: <input type="username" name="username"></p>
	        				<p>Email: <input type="email" name="email"></p>
	        				<p>Password: <input type="password" name="password"></p>
	        				<p><input type="submit" value="Register"></p>
	    				</form>
    				</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="roomCreatorLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-background" style="background-image:url(/concert-holders/2.jpeg)"></div>
				<div class="modal-body">
					<a class="close-this" data-dismiss="modal">&times;</a>
					<div class="logo">
						<img alt="Songroll" title="Songroll" src="/logo_iso.png">
					</div>
					<h2>Sign in for more.</h2>
					<button id="login" class="btn-sky inverse">
						<span>Login</span>
					</button>
					<button id="register" class="btn-sky inverse">
						<span>Register</span>
					</button>
					<div class="login" hidden="true">
						<form class="signon">
							<p>Email: <input type="email" name="email"></p>
	        				<p>Password: <input type="password" name="password"></p>
	        				<p><input type="submit" value="signon"></p>
						</form>
					</div>
					<div class="register" hidden="true">
						<form class="register">
							<p>Username: <input type="username" name="username"></p>
	        				<p>Email: <input type="email" name="email"></p>
	        				<p>Password: <input type="password" name="password"></p>
	        				<p><input type="submit" value="Register"></p>
	    				</form>
    				</div>
				</div>
			</div>
		</div>
	</div>
</template>