<template name="login">
	<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="roomCreatorLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-background" style="background-image:url(/concert-holders/2.jpeg)"></div>
				<div class="modal-body">
					<a class="close-this" data-dismiss="modal">&times;</a>
					<div class="logo">
						<img alt="Oontzstream" title="Oontzstream" src="/logo_iso.png">
					</div>
					<h2>OONTZSTREAM</h2>
					<p class="lead">Welcome to OONTZ bitches</p>
					<button id="login" class="btn-sky inverse">
						<span>log in</span>
					</button>
					<button id="register" class="btn-sky inverse">
						<span>register</span>
					</button>
					<br>
					<br>
					<div class="register" hidden="true">
						<form class="register">
							<p>Username:</p><p><input type="username" name="username"></p>
	        				<p>Email:</p><p><input type="email" name="email"></p>
	        				<p>Password:</p><p><input type="password" name="password"></p>
	        				<p><input type="submit" value="register"></p>
	    				</form>
    				</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="roomCreatorLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-background" style="background-image:url(/concert-holders/2.jpeg)"></div>
				<div class="modal-body">
					<a class="close-this" data-dismiss="modal">&times;</a>
					<div class="logo">
						<img alt="Oontzstream" title="Oontzstream" src="/logo_iso.png">
					</div>
					<h2>Sign in for more.</h2>
					<div class="login">
						<form class="signon">
							<p>Username or Email:</p><p><input type="text" name="username_or_email"></p>
	        				<p>Password:</p><p><input type="password" name="password"></p>
	        				<p><input type="submit" value="log in"></p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>