<template name="userProfileEditor">

	<div id="my-profile">
		<div class="myprofile-title">
			My Profile
		</div>
		<div class="tab-content">
			<div class="username">
				Username: {{currentUser.name}}
			</div>
			<div class="email-address">
				Email Address: {{currentUser.email}}
			</div>
			<div class="password-placeholder">
				Password: *hidden*
			</div>
			<div class="password-change">
				<button>Change Password</button>
			</div>
			<div class="avatar">
				Avatar: <img src="{{currentUser.avatar}}" />
			</div>
		</div>
	</div>
</template>