<template name="adminPanelTitle">
	<a href="/" class="crumb">Administration</a>
	<span>Admin Panel</span>
</template>

<template name="adminPanel">
	<div id="admin-panel">
		<div class="heading">
			Admin Panel
		</div>
		<div class="tab-content">
			<div class="subheading">
				Manage Users
			</div>
			<div id="manage-users" class="manage-window">
				<div id="user-list" class="admin-list"></div>
				<div class="management-buttons">
					<button class="modify-user btn-sky">Modify a User</button>
					<button class="delete-user btn-sky">Delete a User</button>
				</div>
			</div>
			<div class="subheading">
				Manage Rooms
			</div>
			<div id="manage-rooms" class="manage-window">
				<div id="room-list" class="admin-list"></div>
				<div class="management-buttons">
					<button class="modify-room btn-sky">Modify a Room</button>
					<button class="delete-room btn-sky">Delete a Room</button>
				</div>
			</div>
		</div>
	</div>
</template>